* {
    font-family: "Segoe UI";
}

article {
    margin: 5px;
    width: 95px;
    height: 120px;
    display: grid;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
    /* border: 1px solid black; */
    /* align-items: stretch; */
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(8, 12.5%);
}

article img {
    max-width: 95px;
    max-height: 95px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;
}

body {
    margin: 0;
    display: flex;
    /* cursor: url(../resources/img/cursor.png), none; */
    justify-content: center;
    background-color: gainsboro;
}

footer {
    margin: 0;
    width: 100%;
}

footer p {
    padding-bottom: 10px;
}

h2 {
    display: flex;
    justify-content: center;
}

hr {
    width: -webkit-fill-available;
}

sup {
    margin: 0 !important;
}

p {
    margin: 0;
}

#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#evolP {
    margin: 0;
    margin-bottom: 10px;
}

#flagSelect {
    display: flex;
    justify-content: space-evenly;
}

#langFlags {
    top: 0%;
    right: 1%;
    margin: 0;
    width: 100%;
    height: fit-content;
    position: absolute;
    text-align: right;
}

#langFlags img:hover {
    cursor: pointer;
}

#langSelBox {
    margin: auto;
    width: 400px;
    padding: 20px;
    padding-top: 15px;
    border: 1px solid #888;
    background-color: #fefefe;
}

#langSelModal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-color: gainsboro;
}

#langSelModal p {
    text-align: center;
}

#modalTitle {
    font-weight: 700;
    font-size: 16pt;
    text-align: center;
}

#pikaface {
    width: fit-content;
    height: fit-content;
    width: 100px;
    height: 100px;
    animation-name: breathing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes breathing {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

#pokelogo {
    height: 150px;
}

#scrollArrows {
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 0%;
    bottom: 0%;
    margin: 5px;
    margin-right: 10px;
}

#scrollArrows i {
    cursor: pointer;
    font-size: 25pt;
}

#searchBar {
    width: 85%;
    margin: 0 auto;
    max-width: 200px;
}

.bodiv {
    margin: 0;
    max-width: 1300px;
}

.cardCorner {
    font-size: 9pt;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(255, 255, 0, 0.7);
}

.cardIdCorner {
    border-bottom-left-radius: 4px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.cardGenCorner {
    border-bottom-right-radius: 4px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.cardPokeName {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    top: -10px;
    position: relative;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.descP {
    margin: 5px;
    background-color: gainsboro;
}

.evolBody {
    display: flex;
    justify-content: center;
}

.evolBody p {
    margin: 2px;
}

.genSel {
    width: 19px;
    height: 19px;
    cursor: pointer;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    border-radius: 5px;
    -webkit-user-select: none;
}

.genSelOn {
    border: 1px solid green;
    background-color: lightgreen;
}

.genSelOff {
    border: 1px solid red;
    background-color: lightsalmon;
}

.mainArticle {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: auto;
    width: 80%;
    padding: 20px;
    padding-top: 15px;
    border: 1px solid #888;
    background-color: #fefefe;
}

.modalCard {
    -webkit-user-select: none;
}

.modalCont {
    display: flex;
    flex-direction: column;
}

.modalEvol {
    margin: 5px;
    text-align: center;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modalStats {
    background-color: #888;
}

.loader {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.pageContent {
    -webkit-user-select: none;
}

.pageTitle {
    -webkit-user-select: none;
}

.searchDiv {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.searchDiv div {
    display: flex;
    flex-direction: column;
}

.searchDiv div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.searchDiv div div * {
    margin: 3px;
}

.searchHeader {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    justify-content: space-between;
}

.searchHeader p {
    width: 15%;
    text-align: center;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 30%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}