* {
    /* font-family: "Segoe UI"; */
    font-family: "Trebuchet MS";
}

article {
    margin: 5px;
    width: 95px;
    height: 120px;
    display: grid;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
    /* align-items: stretch; */
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(8, 12.5%);
}

article img {
    max-width: 95px;
    max-height: 95px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;
}

body {
    margin: 0;
    display: flex;
    /* cursor: url(../resources/img/cursor.png), none; */
    justify-content: center;
    background-color: gainsboro;
}

footer {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer p {
    padding-bottom: 10px;
}

h2 {
    display: flex;
    justify-content: center;
}

hr {
    width: -webkit-fill-available;
}

sup {
    margin: 0 !important;
}

p {
    margin: 0;
}

#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#evolP {
    margin: 0;
    margin-bottom: 10px;
}

#flagSelect {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#flagSelect div img {
    height: 50px;
}

#flagSelect hr {
    width: 0;
    margin: 0;
    height: 75px;
    border: 1px solid black;
}

#headerLangDiv {
    /* right: 3%; */
    display: grid;
    /* position: absolute; */
    width: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 30px;
}

#headerVertDivider {
    display: none;
}

#langFlags {
    top: 40px;
    right: 3%;
    width: 200px;
    display: none;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
    background-color: gainsboro;
}

#langFlags img:hover {
    cursor: pointer;
}

#langMenu {
    margin: 0;
    padding: 0;
    z-index: 50;
    height: fit-content;
    list-style: none;
    grid-column-start: 2;
    grid-column-end: 3;
}

#langMenu li {
    position: static;
}

#langMenu:hover #langFlags {
    display: grid;
}

#langSelBox {
    margin: auto;
    width: 400px;
    padding: 15px;
    border: 1px solid #888;
    background-color: #fefefe;
}

#langSelModal {
    /* display: none; */
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-color: gainsboro;
}

#langSelModal p {
    text-align: center;
}

#modalTitle {
    font-weight: 700;
    font-size: 16pt;
    text-align: center;
}

#pikaface {
    width: fit-content;
    height: fit-content;
    width: 100px;
    height: 100px;
    animation-name: breathing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes breathing {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

#orderSel {
    width: 130px;
}

#pokelogo {
    height: 150px;
}

#scrollArrows {
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 0%;
    bottom: 0%;
    margin: 5px;
    margin-right: 10px;
}

#scrollArrows i {
    cursor: pointer;
    font-size: 25pt;
}

#searchBar {
    width: 90%;
    margin: 0 auto;
    max-width: 200px;
}

#searchDivGenButtons span {
    margin: 2px;
}

#searchHeader {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    -webkit-user-select: none;
}

#searchHeader p {
    width: fit-content;
    text-align: center;
}

#searchHeaderCell3 {
    align-items: center;
    justify-content: space-evenly;
}

#searchHeaderCell3Div1 {
    width: 230px;
    height: 50px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr auto;
}

#searchHeaderCell3Div2 {
    display: flex;
    text-align: center;
    align-items: center;
}

#searchHeaderCell4 {
    width: 100%;
    height: 100%;
}

#searchHeaderCell4Div1, #searchHeaderCell4Div2 {
    height: 100%;
    display: grid;
    grid-template-columns: 80px;
}

#searchHeaderCell4Div1 {
    grid-row-start: 1;
    grid-row-end: 2;
}

#searchHeaderCell4Div2 {
    grid-row-start: 2;
    grid-row-end: 3;
}

#searchHeaderCell4Div3 {
    align-items: flex-end;
    justify-content: center !important;
    grid-row-start: 3;
    grid-row-end: 4;
}

#searchHeaderCell4Grid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

#searchHeaderCell4Grid div {
    margin: 3px;
}

#searchHeaderCell4Grid div select {
    grid-column-start: 2;
    grid-column-end: 4;
}

#sortdir {
    margin-left: 0;
}

#titleHeader {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

#topHeader {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#t_langText {
    grid-column-start: 1;
    grid-column-end: 2;
}

#t_pageTitle {
    font-size: 22pt;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.bodiv {
    margin: 0;
    width: 95%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cardCorner {
    font-size: 9pt;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(255, 255, 0, 0.7);
}

.cardIdCorner {
    border-bottom-left-radius: 4px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.cardGenCorner {
    border-bottom-right-radius: 4px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.cardPokeName {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    top: -10px;
    position: relative;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.descP {
    margin: 5px;
    background-color: gainsboro;
}

.evolBody {
    display: flex;
    justify-content: center;
}

.evolBody p {
    margin: 2px;
}

.genSel {
    width: 19px;
    height: 19px;
    cursor: pointer;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    border-radius: 5px;
    -webkit-user-select: none;
}

.genSelOn {
    border: 1px solid green;
    background-color: lightgreen;
}

.genSelOff {
    border: 1px solid red;
    background-color: lightsalmon;
}

.mainArticle {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: auto;
    width: 80%;
    padding: 20px;
    padding-top: 15px;
    border: 1px solid #888;
    background-color: #fefefe;
}

.modalCard {
    -webkit-user-select: none;
}

.modalCont {
    display: flex;
    flex-direction: column;
}

.modalEvol {
    margin: 5px;
    text-align: center;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modalStats {
    background-color: #888;
}

.langFlag {
    margin: 5px;
    align-self: center;
    justify-self: center;
}

.loader {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.pageContent {
    -webkit-user-select: none;
}

.pageTitle {
    -webkit-user-select: none;
}

.searchDiv {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchDiv div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titleImg {
    height: 35px;
    animation-name: rolling;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rolling {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.typeSelLabel {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

@media only screen and (max-width: 800px) {
    #headerVertDivider {
        width: 0;
        height: 80%;
        margin: 0;
        display: block;
    }
    #searchDivGenDivider {
        display: none;
    }
    #searchHeader {
        display: grid;
        width: fit-content;
        justify-content: center;
        grid-template-rows: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    }
    #searchHeaderCell1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .searchDiv {
        width: 100%;
        height: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 600px) {
    #topHeader {
        height: 80px;
    }
    #t_pageTitle {
        width: min-content;
    }
}

@media only screen and (max-width: 480px) {
    #langFlags {
        top: 50px;
    }
    #searchDivGenButtons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    #searchHeaderCell3Div1 {
        width: auto;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
    }
    #searchHeaderCell3Div1 div {
        display: flex;
        justify-content: center;
    }
    #searchHeaderCell4Div1 {
        flex-direction: column;
    }
    #searchHeaderCell4Div2 {
        flex-direction: column;
    }
    #searchHeaderCell4Div3 {
        flex-direction: row;
    }
    #searchHeaderCell4Grid {
        grid-template-columns: 1;
    }
    #searchHeaderCell4Grid div {
        display: flex;
    }
    #t_sortDir {
        width: min-content;
    }
}